# dependencies
/node_modules
/src/**/node_modules
/class04/**/node_modules
/class05/**/node_modules
/class06/**/node_modules
/class07/**/node_modules
/class08/**/node_modules
/class09/**/node_modules
/fresh-vue-install
# zip directories
/zip
/zip/

# build outputs
/dist
/build

# logs
*.log

# environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE and editor files
.vscode
.idea
*.swp
*.swo
*~
